# oops
IPython
astropy
coverage
cspyce
numpy
Pillow
pyparsing
rms-fpzip
rms-filecache>=2.3.0
rms-pdslogger>=3.0.0
rms-interval
rms-julian
rms-pdsparser
rms-pdstable
rms-polymath
rms-tabulation
rms-vax
rms-vicar
requests
fortranformat
